body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    line-height: 1.5;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.logo-web{
    color:#4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 2%;
    text-transform: uppercase;
}

.logo-studio{
    color:#2E2F42;
    font-family: 'Raleway', sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 2%;
    text-transform: uppercase;
}

.menu-links .link{
    color: #2E2F42;
}

.menu-links .link:hover,
.menu-links .link:focus{
    color: #404bbf;
}

.menu-links .link:active{
    color: #404BBF;
}

.menu-links{
    color: #2E2F42;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.2em;
}

.header-address .link{
    color: #434455;
}

.header-address .link:hover,
.header-address .link:focus{
    color: #404bbf;
}

.header-address{
    color:#434455;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.2em;
}

.first-level{
    background-color: #2E2F42;
    width: 1440px;
    height: 600px;
    flex-shrink: 0;
}

.header-one{
    color:#FFF;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07; 
    letter-spacing: 0.2em;
}

.button-one-link{
    border-radius: 4px;
    background:#404BBF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    cursor: pointer;
}

.button-one {
    background-color:#4D5AE5;
}

.button-one-link :hover,
.button-one-link :focus{
    color: #404BBF;
}

.button-text{
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.futures{
    display: flex;
    width: 264px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.text-one{
    color:#434455;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 4%;
}

.text-two{
    color:#434455;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 4%;
}

.text-three{
    color:#434455;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 4%;
}

.text-four{
    color:#434455;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 4%;
}

h3{
    color:#2E2F42;
    font-family: 'Roboto', sans-serif; 
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 2%;
}



.header-two{
    color:#2E2F42;
    text-align: center;
    font-family: 'Roboto', sans-serif; 
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1; 
    letter-spacing: 2%;
    text-transform: capitalize;
}

.section-two{
    background:#F4F4FD;
    width: 1440px;
    height: 732px;
    flex-shrink: 0;
}

list-team{
border-radius: 0px 0px 4px 4px;
background: #FFF;
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.footer-logo-web{
    color:#4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 2%;
    text-transform: uppercase;
}

.footer-logo-studio{
    color:#F4F4FD;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 2%;
    text-transform: uppercase;
}

footer{
width: 1440px;
height: 312px;
flex-shrink: 0;
background:#2E2F42;
}

.footer-text{
color:#F4F4FD;
font-family: 'Roboto', sans-serif; 
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 3%;
width: 264px;
}